<div class="<%= location %>"> <!-- location is a the parameter that will accept the argument from the partial call and location is just the variable name -->
  <%= link_to "Home", root_path %>
  <%= link_to "About", about_path %>
  <%= link_to "Contact", contact_path %>
  <%= link_to "Blogs", blogs_path %>
  <%= link_to "Portfolio", portfolios_path %>
</div>
