<div class="<%= location %>"> <!-- location is a the parameter that will accept the argument from the partial call and location is just the variable name -->
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "About", about_path %></div>
  <div><%= link_to "Contact", contact_path %></div>
  <div><%= link_to "Blogs", blogs_path %></div>
  <div><%= link_to "Portfolio", portfolios_path %></div>
</div>
