<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render 'layouts/navbar', location: 'top' %> <!-- location is the variable and top is the argument being passed into the partial -->

    <%= login_logic_helper %>

    <%= yield %>
    <br>
    <%= @copyright %>

    <%= source_helper("application")%>
  </body>
</html>
