<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>" />


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <%= render 'shared/application_navbar', location: 'top' %> <!-- location is the variable and top is the argument being passed into the partial -->
          <!-- <div id='background'></div> -->
          <%= video_tag(
              'HardDrivePhotojpeg.mp4',
              id: 'background',
              autoplay: true,
              loop: true,
              mute: true,
              poster: 'home_bg.png')

          %>
          <%= yield %>
          <br>
          <%= source_helper("application")%>
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
